.mypost {
    width: 90%;
    padding: 50px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.288);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-floating {
    margin: 20px 0;
}

.postBtn {
    display: flex;
    justify-content: right;
}

.btn {
    background-color: #3498DB;
    border: none;
    margin-left: 10px;
}

h2 {
    color: #3498DB;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    padding-bottom: 40px;
}