<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../static/css/detail.css">
  <title>Hwan's Choise</title>
</head>
<body>
  <div class="outLine">
    <div class="contaniar">
       <!-- sectionLeft I -->
      <section class="sectionLeft">
        <header class="styledHeader">
        </header>
        <!-- I. detailMenuInfo -->
        <div class="detailMenuInfo">
          <!-- I-I. contentOutLine -->
          <div class="contentOutLine">
          </div>
          <!-- I-II. contentForm -->
          <form class="contentForm">
          </form>
          <!-- I-III. contentContainer -->
          <div class="contentContainer">
          </div>
        </div>
      </section>
      <!-- sectionRight II -->
      <section class="sectionRight">
      </section>
    </div>
  </div>
  <script>window.staticBaseUrl = "{{ url_for('static', filename='') }}"</script>
  <script src="../static/js/detail.js"></script>
</body>
</html>