<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<link href="./static/css/index.css" type="text/css" rel="stylesheet"></script>

		<title>Hwan's Choice</title>		
		<script>
			// 선택된 버튼 색 변경
			document.addEventListener("DOMContentLoaded", function() {
				var buttons = document.getElementsByClassName("btn-primary");
				var selectedButton = null;

				for (var i = 0; i < buttons.length; i++) {
					buttons[i].addEventListener("click", function() {
					if (selectedButton) {
						selectedButton.classList.remove("clicked");
						}
						this.classList.add("clicked");
						selectedButton = this;
					});
				}
			});

			$(document).ready(function () {
				showAllMenu();
			});

			// DB 또는 오픈 API 내 데이터 가져와서 화면에 출력
			function getData(type, info) {
				let name = info["name"]; // 식당 이름
				let id = info["id"]		 // 메뉴 ID
				let dsc = info["dsc"];   // 메뉴 이름
				let img = info["img"];   // 메뉴 이미지 URL
				console.log(img)

				let temp_html = `<div class="card" onclick="location.href='{{ url_for('detail')}}?id={{ '${type}/${id}' }}'">
									<img src="${img}" class="card-img-top" onerror="this.src='static/img/fallback_image.jpg'">
									<div class="card-body">
										<h5 class="card-title">${name}</h5>
										<p class="card-text">${dsc}</p>
									</div>
								</div>`;
				$("#menu-list").append(temp_html);
			}

			// mongoDB 데이터 가져오기
			function getMongoDbData(type="") {
				fetch("/menu").then((res) => res.json()).then((data) => {
					let rows = data["result"];
					rows.forEach((info) => {
						let menuType = info['type']; // 메뉴의 종류
						if (type) {
							if (type == menuType) {
								getData(menuType, info);
							}
						} else {
							getData(menuType, info);
						}
					});
				});
			}

			// 오픈 API 데이터 가져오기
			function getOpenApiData(type) {
				fetch("https://free-food-menus-api-production.up.railway.app/" + type).then((res) => res.json()).then((data) => {
					for (let i = 0; i < data.length; i++) {
						getData(type, data[i]);
					};
				});
			}

			// 전체 메뉴 출력 (기본 값)
			function showAllMenu() {
				$("#menu-list").empty();

				getMongoDbData();

				let selectList = ["steaks", "pizzas", "dessert", "drinks"];
				for (let i = 0; i < selectList.length; i++) {
					getOpenApiData(selectList[i]);
				}
			}

			// 선택한 음식 종류만 화면에 출력
			function showSelectType(type) {
				$("#menu-list").empty();

				if (type == 'all') {
					showAllMenu();
				} else {
					// mongoDB
					getMongoDbData(type)

					// 오픈 api 데이터 가져오기
					getOpenApiData(type);
				}
			}
		</script>
	</head>

	<body>
		<div class="main">
			<div class="title">
				<div class="titleName">
					<h1>Hwan’s Choice</h1>
				</div>
				<div class="titleBtn">
					<button onclick="location.href='/post'">＋ 메뉴 등록</button>
				</div>
			</div>
			<div class="gnb" id="gnb">
				<button class="btn btn-primary" onclick="showSelectType(this.value)" value="all">all</button>
				<button class="btn btn-primary" onclick="showSelectType(this.value)" value="steaks">steaks</button>
				<button class="btn btn-primary" onclick="showSelectType(this.value)" value="pizzas">pizzas</button>
				<button class="btn btn-primary" onclick="showSelectType(this.value)" value="desserts">desserts</button>
				<button class="btn btn-primary" onclick="showSelectType(this.value)" value="drinks">drinks</button>
			</div>
			<hr>
			<div class="menubox" id="menu-list">
				<div class="card" style="width: 18rem">
					<img src="#" class="card-img-top" alt="..." />
					<div class="card-body">
						<h5 class="card-title">식당 이름</h5>
						<p class="card-text">메뉴 이름</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
